<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body style="background-color: black; color: aliceblue">
<a href="{% url 'main' %}" style="color: cornflowerblue"><h1>main page</h1></a>

<ul>
        <a href="{% url 'books' %}" style="color: cornflowerblue"><li>books list</li></a>
        <a href="{%url 'books_name_desc'%}" style="color: cornflowerblue"><li><i class="far fa-address-card"></i>books list descending</li></a>
        <a href="{% url 'books_count' %}" style="color: cornflowerblue"><li><i class="fas fa-envelope-open"></i>books list by count</li></a>
        <a href="{% url 'unordered' %}" style="color: cornflowerblue"><li><i class="fas fa-envelope-open"></i>unordered books</li></a>
        <a href="{% url 'orders' %}" style="color: cornflowerblue"><li><i class="fas fa-envelope-open"></i>orders by date</li></a>
        <a href="{% url 'all_users' %}" style="color: cornflowerblue"><li><i class="fas fa-envelope-open"></i>All users</li></a>
        <a href="{% url 'user_time' %}" style="color: cornflowerblue"><li><i class="fas fa-envelope-open"></i>Not in time</li></a>


</ul>
{% block content %}
{% endblock %}

</body>
</html>
